.calculator {
    width: 300px;
    border: solid 0.5px gray;
    padding: 0.5rem;
    border-radius: 2%;
}
.displayer {
    border: lightblue solid 1px;
    padding: 4rem;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;
}
.egal {
    background-color: rgb(67, 93, 246);
}
.button {
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 5%;
}
.number {
    font-weight: bolder;
}
.egal {
    color: white;
}
.button:hover {
    background-color: lightblue;
}
.button:active {
    border: lightblue 1px solid;
    padding: 0.7rem;
    background-color: white;
}